/*

Typography is the way that text
is arranged and presented.

*/

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
/* 
input, button {
    font: inherit;
} */

/* p {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: justify;
    text-indent: 2em;
} */
 
/* p {
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
} */

p {
    line-height: 1.5;
}